/* selector {
    propery- name: value:;
} */

/* tutorial on colors/ text/ backgrounds
lost of commits  */

body {
    background-color: blueviolet;
    color: blanchedalmond;
    background-image: url(images/muffin.png);
    background-size: 23%;
    font-size: 22px;
    font-family: sans-serif;
}

h1 {
background-color: brown;
text-align: center;
}

#content-wrap {
    color:black;
    background-color: white;
    max-width: 500px;
    padding: 0px 30px 30px 30px;
    border: 5px dotted brown;
    margin: 30px auto; 
}